.custom-height{
    height: 300px !important;
    overflow: hidden;
}
.custom-height-2{
    height: 700px !important;
    overflow: hidden;
}


.bg-gray-1{
    background-color: #434F5A !important;
}

.bg-gray-2{
    background-color: #AEB6C3 !important;
}

.bg-teal-pastel
{
    background-color: #BAC8C9 !important;
}

a.bg-teal-pastel:hover,
a.bg-teal-pastel:focus,
button.bg-teal-pastel:hover,
button.bg-teal-pastel:focus
{
    background-color: #b8d3d4 !important;
}


/* button */

.btn-olive
{
    color: #fff;
    border-color: #85857B;
    background-color: #85857B;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-olive:hover
{
    color: #fff;
    border-color: #707059; 
    background-color: #707059;
}
.btn-olive:focus,
.btn-olive.focus
{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgb(158, 158, 117);
}
.btn-olive.disabled,
.btn-olive:disabled
{
    color: #fff;
    border-color: #a1a179; 
    background-color: #a1a179;
}
.btn-olive:not(:disabled):not(.disabled):active,
.btn-olive:not(:disabled):not(.disabled).active,
.show > .btn-olive.dropdown-toggle
{
    color: #fff;
    border-color: #a1a179; 
    background-color: #a1a179;
}
.btn-olive:not(:disabled):not(.disabled):active:focus,
.btn-olive:not(:disabled):not(.disabled).active:focus,
.show > .btn-olive.dropdown-toggle:focus
{
    box-shadow: none, 0 0 0 0 rgb(158, 158, 117);
}


.btn-outline-olive
{
    color: #85857B;
    border-color: #85857B; 
    background-color: transparent;
    background-image: none;
}
.btn-outline-olive:hover
{
    color: #fff;
    border-color: #707059;; 
    background-color: #707059;;
}
.btn-outline-olive:focus,
.btn-outline-olive.focus
{
    box-shadow: 0 0 0 0 rgb(158, 158, 117);
}
.btn-outline-olive.disabled,
.btn-outline-olive:disabled
{
    color: #85857B;
    background-color: transparent;
}
.btn-outline-olive:not(:disabled):not(.disabled):active,
.btn-outline-olive:not(:disabled):not(.disabled).active,
.show > .btn-outline-olive.dropdown-toggle
{
    color: #fff;
    border-color: #707059;; 
    background-color: #707059;;
}
.btn-outline-olive:not(:disabled):not(.disabled):active:focus,
.btn-outline-olive:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-olive.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0 rgb(158, 158, 117);
}


.page-item.active.olive .page-link {
    z-index: 3;
    color: #fff;
    border-color: #a1a179;
    background-color: #a1a179;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active.olive {
    background: #85857b45 !important;
}

/* misc */

.logo-box{
    display: flex;
    margin:2rem;
}

.custom-height{
    height: 52vh !important;
    overflow: hidden;
}

/* dropdown */
.wider{
    margin: 15px !important;
    min-width: 26rem !important;
}

.dropdown-margin-1{
    margin:0.4rem 1.4rem;
}

.dropdown-margin-2{
    margin:1.4rem;
}

.col-divider{
    margin-bottom: 1vh;
}

.centered{
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 2vh;
}

.font-16{
    font-size: 1.6rem;
}

.top{
    margin-top:2vh;
}

.top-2{
    margin-top:10vh;
}

.bg-black-blue
{
    background-color: #434F5A !important;
}

.square-1{
    width: 200px;
    height: 200px;
}

.square-2{
    width: 300px;
    height: 300px;
}


/* Wider */
.card-cascade.wider{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 120vh !important;
}

.view-cascade.wider{
    z-index: 2;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
.card-body-cascade.wider{
    z-index: 1;
    margin-right: 4%;
    margin-left: 4%;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/* narrower */
.card-cascade.narrower{
    margin-top: 1.25rem;
}
.view-cascade.narrower{
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    border-radius: .25rem;
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
}

.card .card-body .card-title a:hover {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out
}

.card-img-top{
    border-bottom-left-radius: calc(.375rem - 1px);
    border-bottom-right-radius: calc(.375rem - 1px);
}

/* text */
.text-md{
    font-size: 1.2rem;
}

.text-olive {
    color: #85857B !important;
}

.margin-1{
    margin: 2rem 10rem;
}


/* image */
.width-80{
    max-width: 80%;
}